#home {padding:8px;background:#111;width:100%;box-sizing:border-box;text-align:center;margin-bottom:300px;}
#home button {width:120px;height:50px;}
#home button.selected {background-color:yellow;}
#home .admin-row,
#home .status-row,
#home .admin-unlock-row,
#home .app-row {margin-top:2px;}
#home .msg-btn,
#home .admin-unlock-button,
#home .app-btn {width:100%;background:white;border:0;font-size:16px;}
#home .app-btn.active {background:lime;}
#home .msg-btn.semi-active,
#home .app-btn.semi-active {background:yellow;}
#home .header {font-size:32px;font-weight:bold;margin-bottom:10px;color:white;margin-top:10px}
#home .connected-state.connected {color:lime;}
#home .connected-state.disconnected {color:red;}
#home .apps {margin-bottom:20px;}
#home .apps-head,
#home .status-head,
#home .admin-head {color:white;font-weight:bold;font-size:24px;margin-bottom:5px;}
@media screen and (max-width: 450px) {
    #home .header {font-size:28px;}
}

#home .status-row {
	text-align:center;
	margin-bottom:20px;
}
#home .status-table {
	color:white;
	margin:0 auto;
	border-collapse:collapse;
	width:100%;
	vertical-align:middle;
	margin-top:-2px;
	margin-bottom:-2px;
}
#home .status-table td {
	border:2px solid #111;
	background:white;color:black;
	padding:5px;
	vertical-align:middle;
}
#home .status-table td:first-child {
	border-left:0
}
#home .status-table td:last-child {
	border-right:0
}
#home .status-table td:nth-child(1) {
	width:50%;
}
#home .status-table td:nth-child(2) {
	width:25%;
}
#home .status-table td:nth-child(3) {
	width:25%;
}


@media screen and (max-width: 400px) {
    #home .header {font-size:24px;}
}
