html, body {
    font-family: "Arial";
    background: #101010;
    color: #cdcdcd;
    margin:0;padding:0;
}

input[type="submit"],
button {
    background:#eee;
    color: #101010;
    border:0;
    border-radius: 5px;
    padding:4px 8px;
}

input[type="submit"]:disabled,
button:disabled {
    opacity:0.5;
}

input[type="submit"]:not(:disabled):hover,
button:not(:disabled):hover{
    background:#d0d0d0;
    color: #101010;
    border:0;
    cursor:pointer;
}

input[type=text] {
    outline: 0;
}

.blocker {
    position:absolute;top:0;left:0;
    height:100vh;width:100vw;
    background:rgba(0,0,0,0.75);
    z-index:999999
}
.blocker img {
    width:50px;
    position: absolute;
    right:10px;
    top:10px;
    animation: pulse 2s infinite;
}

.main-container {display:flex;flex-direction:column;height:100vh}
.main-container .toprow {
    background:#202020;padding:8px;box-shadow: 0px 2px 6px black;
    align-self: stretch; flex-grow: 0;
    position: relative;z-index:100;
}
.main-container .view-container {
    align-self: stretch; flex-grow: 1; 
    /* background:red; */
    position: relative;z-index:90;
    overflow:hidden;
}