.calib .leg {
    float:left;
    clear:both;
    display:block;
    border-radius:5px;
    overflow:hidden;
    margin-bottom: 8px;
    width:auto;
    user-select: none;
    font-size:14px;
}
.calib .leg-name {
    font-weight: bold;
    background:#303030;
    padding:4px;
    font-size:14px;
}
.calib .joints {
    background:#202020;
    border-spacing: 4px;
}
.calib .joints th {
    text-align: center;
    font-weight: bold;
    background:#303030;
    padding:4px;
    border-radius:5px;
    font-size:14px;
}
.calib .joints td {
    text-align: center;
}
.calib .joint {
    margin-bottom:4px;
}
.calib .joint:last-child {
    margin-bottom:0;
}
.calib .joint-name {
    margin-right:4px;   
}
.calib .calib-angle {
    font-size:14px;
    display:inline-block;
    width:50px;text-align: center;
    color:#c0c0c0;  
}
.calib td.calib-point {
    text-align: left;
    width: 200px;
}
.calib .calib-point input[type=text] {
    width:50px;
    text-align: center;
    background:#eee;
    color: #101010;
    border:0;
    border-radius: 5px;
    padding:4px 8px;
    margin-right:5px;
    cursor:default;
    user-select: none;
}
.calib .calib-done {
    display:inline-block;
    margin-left: 4px;
}
.calib .joint-angle {
    width:100px;
    font-size:14px;
}