.overview {
    overflow: auto;
    width:100%;
    height: 100%;
    max-height:100%;
    padding:8px;
    box-sizing: border-box;
}
.overview table {
    border-collapse: collapse;
    margin-bottom: 8px;
    font-size:14px;
    border-radius:10px;
    overflow:hidden;
}
.overview table th ,
.overview table td {
    background: #303030;
    border:1px solid #181818;
    padding:4px 8px;
    text-align: center;
    min-width: 50px;
    
}
.overview tr:nth-child(1) th{
    background: #202020;
    color: #ddd;
}
.overview tr:nth-child(2) th{
    background: #202020;
    color: #ddd;
}
.overview .tr-sum td {
    font-weight: bold;
}
.overview .sum {
    font-weight: bold;
}
.overview .leg {
    font-weight: bold;
}